@import '../../styles/global.module';

@keyframes dizzyColors {
  0%, 100% {
      color: $secondary-color;
  }
  25% {
      color: $tertiary-color;
  }
  50% {
      color: $olive;
  }
  75% {
      color: $fuschia;
  }
}

.featureHeading {
  font-family: 'Source Serif Pro', serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4em;
  margin-bottom: 1.5em;

  @media screen and (min-width: $md) {
    margin-right: 4em;
  }

  a {
      color: $secondary-color;
      text-decoration: none;
      transition: all 0.5s linear;
      animation: dizzyColors 3s infinite;

      &:hover {
        border-bottom: 0.2em solid $royalblue;
      }
  }
}
